body{
    background: url(images/bg-pattern.svg);
    background-repeat: no-repeat;
}

.fondo{
    background: url(images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
}

p{
    font-family: 'Manrope';
    font-size: 15px;
    text-align: center;
    color:  hsl(225, 20%, 60%);
}

.h3, h3{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    color:  hsl(227, 35%, 25%);
}

h4{
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 13px;
    color:  hsl(225, 20%, 65%);
    letter-spacing: 3px;
    
}

h1{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 30px;
    color:  hsl(227, 35%, 25%);
    display: flex;
    justify-content: flex-end;
}

h5{
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 13px;
    color:  hsl(225, 20%, 65%);
}

.slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    background: linear-gradient(90deg, hsl(174, 86%, 45%) 30%, hsl(0, 0%, 90%) 70%);
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    background-color: hsl(174, 86%, 45%);
    border-radius: 100%;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover{
    box-shadow: 3px 10px 20px 0px hsl(174, 86%, 60%);
    background-color:hsl(175, 76%, 38%);
}

h6{
    font-family: 'Manrope';
    font-size: 12px;
    text-align: center;
    color: hsl(225, 20%, 65%);
}

li{
    font-family: 'Manrope';
    font-size: 12px;
    color: hsl(225, 20%, 65%);
}

h2{
    font-family: 'Manrope';
    font-size: 10px;
    text-align: center;
    padding: 5px 8px;
    color: hsl(15, 100%, 70%);
    background-color:hsl(14, 92%, 95%);
    border-radius: 10px;
}

.switch-Container{
    display: flex;
    width: 50px;
    height: 26px;
    margin-left: 5px;
    margin-right: 5px;
}

.switch-Container input{
    display: none;
}

.toggle-check{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: hsl(223, 50%, 87%);;
    border-radius: 50px;
    cursor: pointer;
}

.toggle-check::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-left: 2.6px;
    transition: .3s;
}

.switch-Container input:checked + .toggle-check::before{
    margin-left: 27px;
    background-color: hsl(174, 77%, 100%);
}

.switch-Container input:checked + .toggle-check{
    background-color:   hsl(174, 86%, 45%);
}

i{
    font-size: 13px;
    color:  hsl(174, 86%, 45%);
}

.card{
    box-shadow: 3px 10px 40px 0px rgb(205, 229, 230);
}

.btn-style{
    font-family: 'Manrope';
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 85%);
    width: 100%;
    height: 50px;
    background-color:  hsl(227, 35%, 25%);
    border-radius: 50px;
}

a.btn.btn-style:hover{
    color: hsl(0, 0%, 85%);
    background-color: hsl(175, 76%, 38%);
}

.attribution{
    font-family: 'Manrope';
    font-size: 15px;
}

@media only screen and (max-width: 770px) {

.container{
    min-width: 375px;
}

.card{
    margin-bottom: 50px;
}

.start ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

h4{
    display: flex;
    justify-content: center;
    text-align: center;
}

}